@media screen and (max-width:992px) {
    .main__wrapper {
        flex-direction: column;
    }

    .main__content_left {
        max-width: 100%;
    }

    .main__content_right {
        max-width: 100%;
    }
}

@media screen and (max-width:772px) {
    .nav__list {
        flex-direction: column;
    }

    .header__wrap {
        gap: 40px;
    }

    .main__content_right {
        padding: 25px;
    }
}

@media screen and (max-width:576px) {
    .footer__wrapper {
        flex-direction: column;
        gap: 15px;
    }

    .main__content_right {
        padding: 25px;
    }
    
    .header__wrap {
        gap: 40px;
    }
}

@media screen and (max-width:375px) {
    .header__content {
       display: none;
    }

    .main__content_left {
        padding: 15px;
    }

    .main__content_right {
        padding: 15px;
    }
}
